## Importing Libraries

In [ ]:
import config
import pandas as pd
import numpy as np
import sqlalchemy as SA
import psycopg2
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

## Define the connection

In [ ]:
conn1= SA.create_engine('postgresql+psycopg2://{u}:{p}@{h}/{d}'.format(
    u='bhavuk@gmail.com', 
    p='123456',
    h='123.1.1.0:1008',
    d='service_store_transactions'))

## Analyze sales transactions from a dataset named sales_transactions. Let's break down the query into a descriptive paragraph:

The query aggregates sales and returns data by customer for different product categories. It calculates the total value of purchases and returns for each customer, categorized by product category such as Grocery, Electronics, and Clothing. The query distinguishes between transactions made in different currencies, converting the values to a common unit where necessary. For purchases, if the currency is 'paise', it converts the value to the main currency by dividing by 100; otherwise, it retains the original value. Similarly, for returns, it performs the same conversion logic based on currency. The analysis is limited to transactions that occurred within the date range from January 1, 2023, to December 31, 2023. The results are grouped by customer_id.

In [ ]:
query="""

SELECT 
    customer_id,
    SUM(CASE 
            WHEN transaction_type = 'PURCHASE' AND product_category = 'Grocery' AND currency='paise'  THEN value/100 
            WHEN transaction_type = 'PURCHASE' AND product_category = 'Grocery' AND currency!='paise'  THEN value
            ELSE 0
        END) AS Grocery_Purchases,
    SUM(CASE 
            WHEN transaction_type = 'PURCHASE' AND product_category = 'Electronics' currency='paise'  THEN value/100
            WHEN transaction_type = 'PURCHASE' AND product_category = 'Electronics' currency!='paise'  THEN value
            ELSE 0
        END) AS Electronics_Purchases,
    SUM(CASE 
            WHEN transaction_type = 'PURCHASE' AND product_category = 'Clothing' AND currency='paise'  THEN value/100
            WHEN transaction_type = 'RETURN' AND product_category = 'Clothing' AND currency!='paise'  THEN value
            ELSE 0
        END) AS Clothing_Purchases,
    SUM(CASE 
            WHEN transaction_type = 'RETURN' AND product_category = 'Grocery' AND currency='paise'  THEN value/100
            WHEN transaction_type = 'RETURN' AND product_category = 'Grocery' AND currency!='paise'  THEN value
            ELSE 0
        END) AS Grocery_Returns,
    SUM(CASE 
            WHEN transaction_type = 'RETURN' AND product_category = 'Electronics'AND currency='paise'  THEN value/100
            WHEN transaction_type = 'RETURN' AND product_category = 'Electronics'AND currency!='paise'  THEN value
            ELSE 0
        END) AS Electronics_Returns,
    SUM(CASE 
            WHEN transaction_type = 'RETURN' AND product_category = 'Clothing'AND currency='paise'  THEN value/100
            WHEN transaction_type = 'RETURN' AND product_category = 'Clothing'AND currency!='paise'  THEN value
            ELSE 0
        END) AS Clothing_Returns
FROM 
    sales_transactions
WHERE 
    transaction_date BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY 
    customer_id;
"""
customer_data=pd.read_sql(query,con=conn1)

The subsequent Python code snippet reads the results of this SQL query into a pandas DataFrame named 'customer_data' using the provided SQL query (query) and the database connection object conn1. This DataFrame likely contains the summarized sales and returns data for each customer, which can then be further analyzed or visualized using Python's data analysis libraries.